<%- include("header")-%>

    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>

<ul>
    <div class="box" >
        <% for (var i=0; i<newListItems.length; i++) {   %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
            
           <% } %>
           <form action="/" method="POST">
            <input type="text" name="newItem" placeholder="Enter new item" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
    </div>
   
</ul>
<%- include("footer")-%>

